{% extends 'base.html' %}
{% load static %}
{% block content %}

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div id="Subheader">
                <div class="container">
                    <div class="column one">
                        <h1 class="title">Cronograma da Folha de Pagamento Instituto</h1>
                        <!--BreadCrumbs area-->
                        <ul class="breadcrumbs">
                            <li>
                                <a href="{% url 'index' %}">Home</a><span><i - ></i></span>
                            </li>
                            <li>
                                <a href="{% url 'index' %}">Cronograma de Pagamento</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
<p>&nbsp;</p>


<!-- Main Content -->
        <div id="Content">
            <div class="content_wrapper clearfix">
                <div class="sections_group">
                    <div class="extra_content">

                    </div>
                    <div class="section">
                        <div class="section_wrapper clearfix">
                            <!--  Filter Area -->
                             <!-- One full width row-->
                            <p>&nbsp;</p>



                            <div class="column one column_fancy_heading">

                                 <div class="section" id="accordion flv_sections_16">
                            <div class="section_wrapper clearfix">
                                <div class="items_group clearfix">
                                    <!-- One Second (1/2) Column -->
                                    <div class="column one column_column">

                                    </div>
                                       <div class="column one column_accordion">
                                        <div class="accordion">
                                            <div class="mfn-acc accordion_wrapper open1st">
                                                <div class="question">
                                                    <div class="title">
                                                        &nbsp;&nbsp;<h4>Cronograma de pagamento 2021</h4>
                                                    </div>
                                                    <div class="answer">

                                                        <table class="table_cronograma">
    <thead>
        <tr>
            <th>Janeiro</th><th>Fevereiro</th><th>Março</th><th>Abril</th><th>Maio</th><th>Junho</th><th>Julho</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Dia 05</td><td>Dia 08</td><td>Dia 03</td><td>Dia 06</td><td>Dia 04</td><td>Dia 07</td><td>Dia 05</td>
        </tr>
        <tr>
            <th>Agosto</th><th>Setembro</th><th>Outubro</th><th>Novembro</th><th>Dezembro</th><th>13ºDezembro</th>
        </tr>
        <tr>
            <td>Dia 05</td><td>Dia 08</td><td>Dia 03</td><td>Dia 06</td><td>Dia 04</td><td>Dia 07</td>
        </tr>
    </tbody>
</table>

                                                        <!-- final 3 tabela -->
                                                    </div>
                                                </div>








                                                <div class="question">
                                                    <div class="title">
                                                        &nbsp;&nbsp;<h4>Cronograma de pagamento 2020</h4>
                                                    </div>
                                                    <div class="answer">

                                                        <table class="table_cronograma">
    <thead>
        <tr>
            <th>Janeiro</th><th>Fevereiro</th><th>Março</th><th>Abril</th><th>Maio</th><th>Junho</th><th>Julho</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Dia 05</td><td>Dia 08</td><td>Dia 03</td><td>Dia 06</td><td>Dia 04</td><td>Dia 07</td><td>Dia 05</td>
        </tr>
        <tr>
            <th>Agosto</th><th>Setembro</th><th>Outubro</th><th>Novembro</th><th>Dezembro</th><th>13ºDezembro</th>
        </tr>
        <tr>
            <td>Dia 05</td><td>Dia 08</td><td>Dia 03</td><td>Dia 06</td><td>Dia 04</td><td>Dia 07</td>
        </tr>
    </tbody>
</table>

                                                        <!-- final 3 tabela -->
                                                    </div>
                                                </div>

                                                <div class="question">
                                                    <div class="title">
                                                        &nbsp;&nbsp;<h4>Cronograma de pagamento 2019</h4>
                                                    </div>
                                                    <div class="answer">

                                                        <table class="table_cronograma">
    <thead>
        <tr>
            <th>Janeiro</th><th>Fevereiro</th><th>Março</th><th>Abril</th><th>Maio</th><th>Junho</th><th>Julho</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Dia 05</td><td>Dia 08</td><td>Dia 03</td><td>Dia 06</td><td>Dia 04</td><td>Dia 07</td><td>Dia 05</td>
        </tr>
        <tr>
            <th>Agosto</th><th>Setembro</th><th>Outubro</th><th>Novembro</th><th>Dezembro</th><th>13ºDezembro</th>
        </tr>
        <tr>
            <td>Dia 05</td><td>Dia 08</td><td>Dia 03</td><td>Dia 06</td><td>Dia 04</td><td>Dia 07</td>
        </tr>
    </tbody>
</table>

                                                        <!-- final 3 tabela -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
        </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


<!-- Footer-->
{% include 'footer.html' %}
<!-- final Footer-->
{% endblock %}