{% extends 'base.html' %}
{% load static %}
{% block content %}

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div id="Subheader">
                <div class="container">
                    <div class="column one">
                        <h1 class="title">Instruções Normativas MPS</h1>
                        <!--BreadCrumbs area-->
                        <ul class="breadcrumbs">
                            <li>
                                <a href="{% url 'index' %}">Home</a><span><i - ></i></span>
                            </li>
                            <li>
                                <a href="{% url 'index' %}">Instruções Normativas MPS</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
<p>&nbsp;</p>


<!-- Main Content -->
        <div id="Content">
            <div class="content_wrapper clearfix">
                <div class="sections_group">
                    <div class="extra_content">

                    </div>
                    <div class="section">
                        <div class="section_wrapper clearfix">
                            <!--  Filter Area -->
                             <!-- One full width row-->
                            <div class="column one column_blog">
                                <div class="blog_wrapper isotope_wrapper">
                                    <!-- Masonry blog posts -->
                                    <div class="posts_group lm_wrapper masonry isotope">
                                        <div style="min-width: 300px"; class="post-175 post  format-standard has-post-thumbnail  category-motion category-photography category-uncategorized tag-eclipse tag-grid tag-mysql post-item isotope-item clearfix">
                                            <div class="post-desc-wrapper">
                                                <div class="post-desc">
                                                    <div class="post-title">
                                                        <h2 class="entry-title"><a onclick="iniciaModal('modal-pdf')"style="cursor: pointer;">Instruções Normativas MPS 2020</a></h2>
                                                    </div>
                                                    <hr class="hr_color" />
                                                    <div class="post-excerpt">
                                                        <span class="big">Vitae adipiscing turpis. Aenean ligula nibh, molestie id viverra a, dapibus at dolor. In iaculis viverra neque, ac ele molestie id viverra aifend ante lobortis id. In viverra ipsum stie id viverra a.</span>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div style="min-width: 300px"; class="post-186 post  format-image has-post-thumbnail  category-mobile category-photography category-uncategorized tag-design tag-html5  post-item isotope-item clearfix">
                                            <div class="post-desc-wrapper">
                                                <div class="post-desc">
                                                    <div class="post-title">
                                                        <h2 class="entry-title"><a onclick="iniciaModal('modal-pdf')"style="cursor: pointer;">Instruções Normativas MPS 2019</a></h2>
                                                    </div>
                                                    <hr class="hr_color" />
                                                    <div class="post-excerpt">
                                                        <span class="big">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet cong ue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend.</span>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div style="min-width: 300px"; class="post-186 post  format-image has-post-thumbnail  category-mobile category-photography category-uncategorized tag-design tag-html5  post-item isotope-item clearfix">
                                            <div class="post-desc-wrapper">
                                                <div class="post-desc">
                                                    <div class="post-title">
                                                        <h2 class="entry-title"><a onclick="iniciaModal('modal-pdf')"style="cursor: pointer;">Instruções Normativas MPS 2018</a></h2>
                                                    </div>
                                                    <hr class="hr_color" />
                                                    <div class="post-excerpt">
                                                        <span class="big">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet cong ue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend.</span>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p>&nbsp;</p>
                                    <div class="column one column_divider">
                                        <hr class="flv_margin_40">
                                    </div>
                                    <p>&nbsp;</p>
                                    <div class="posts_group lm_wrapper masonry isotope">
                                        <div style="min-width: 300px";  class=  "post-175 post  format-standard has-post-thumbnail  category-motion category-photography category-uncategorized tag-eclipse tag-grid tag-mysql post-item isotope-item clearfix">
                                            <div class="post-desc-wrapper">
                                                <div class="post-desc">
                                                    <div class="post-title">
                                                        <h2 class="entry-title"><a onclick="iniciaModal('modal-pdf')"style="cursor: pointer;">Instruções Normativas MPS 2017</a></h2>
                                                    </div>
                                                    <hr class="hr_color" />
                                                    <div class="post-excerpt">
                                                        <span class="big">Vitae adipiscing turpis. Aenean ligula nibh, molestie id viverra a, dapibus at dolor. In iaculis viverra neque, ac ele molestie id viverra aifend ante lobortis id. In viverra ipsum stie id viverra a.</span>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div style="min-width: 300px"; class="post-186 post  format-image has-post-thumbnail  category-mobile category-photography category-uncategorized tag-design tag-html5  post-item isotope-item clearfix">
                                            <div class="post-desc-wrapper">
                                                <div class="post-desc">
                                                    <div class="post-title">
                                                        <h2 class="entry-title"><a onclick="iniciaModal('modal-pdf')"style="cursor: pointer;">Instruções Normativas MPS 2016</a></h2>
                                                    </div>
                                                    <hr class="hr_color" />
                                                    <div class="post-excerpt">
                                                        <span class="big">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet cong ue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend.</span>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div style="min-width: 300px"  class="post-186 post  format-image has-post-thumbnail  category-mobile category-photography category-uncategorized tag-design tag-html5  post-item isotope-item clearfix">
                                            <div class="post-desc-wrapper">
                                                <div class="post-desc">
                                                    <div class="post-title">
                                                        <h2 class="entry-title"><a onclick="iniciaModal('modal-pdf')"style="cursor: pointer;">Instruções Normativas MPS 2015</a></h2>
                                                    </div>
                                                    <hr class="hr_color" />
                                                    <div class="post-excerpt">
                                                        <span class="big">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet cong ue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend.</span>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- One full width row-->
                                    <div class="column one pager_wrapper">
                                        <!-- Navigation Area -->
                                        <div class="pager">
                                            <div class="pages">
                                                <a href="blog-full-masonry.html" class="active">1</a>
                                                <a href="#" >2</a>
                                                <a href="#" >3</a>
                                                <a href="#" >4</a>
                                                <a href="#" >5</a>
                                                <a href="#" >6</a>
                                            </div><a class="next_page" href="#">Next page<i class="icon-right-open"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>





<!-- Footer-->
{% include 'footer.html' %}
<!-- final Footer-->

<!-- codigo e script para o modal -->
<style>
.modal-container {
        width: 100vw;
        height: 100vh;
        background: rgba(0,0,0,.8);
        position: fixed;
        top: 0px;
        left: 0px;
        z-index:2000;
        display: none;
        justify-content: center;
        align-items: center;

}


.modal-container.mostrar {

display:flex;

}

.modalPDF {
        background: white;
        width: 70%;
        height: 80%;
        padding: 10px;
        box-shadow: 0 0 0 10px white;
        position: relative;
        color: white;

    }

@keyframes modalAnim{

    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
.mostrar .modalPDF{
    animation: modalAnim .3s;
}
.fechar {
        position: absolute;
        font-size: 2em;
        top: -30px;
        right: -30px;
        border-radius: 50%;
        border: 4px solid white;
        box-shadow: 0 4px 4px 0 rgba(0,0,0,.3);

    }

</style>




<div id="modal-pdf" class="modal-container">
    <div class="modalPDF">
         <button onclick="iniciaModalFechar('modal-pdf')" class="fechar">x</button>
         <h3 style="color: black" align="center"> Instruções Normativas MPS </h3>
        <iframe src="{% static 'PDFfiles/exemplo_pdf.pdf' %}" width="100%" height="90%" type='application/pdf'> </iframe>

    </div>


</div>
<script>
  function iniciaModal(modalID){
    const modal = document.getElementById(modalID);
    modal.classList.add('mostrar');
  }
  function iniciaModalFechar(modalID){
    const modal = document.getElementById(modalID);
    modal.classList.remove('mostrar');
  }

</script>
<!-- final codigo e script para o modal -->

{% endblock %}

