{% load static %}


<div class="section" style="padding-top:12px; padding-bottom:5px; background-color:#fff; background-image:url(static/images/boss_section.jpg); background-repeat:no-repeat; background-position: 50% -68.5px; background-attachment:fixed; background-size:cover; ">
                            <div class="section_wrapper clearfix">
                                <div class="items_group clearfix">
            <p></p>
            <p></p>
<table style="">
<tbody>
<tr>
<td style=" align: center;">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3566.4909500562853!2d-48.6888216839412!3d-26.632758983249023!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94d92b0cb53a6549%3A0x3aecef4e0bf31e4d!2sIPREVE%20Instituto%20dos%20Servidores%20P%C3%BAblicos%20do%20Munic%C3%ADpio%20Barra%20Velha!5e0!3m2!1spt-BR!2sbr!4v1581980314074!5m2!1spt-BR!2sbr" width="600" height="250" frameborder="0" style="border:0" allowfullscreen=""></iframe></td>

<td style=" align: center;">
            <img src="{% static 'images/logo_maps.png' %}"  width="424" height="249"alt="meurpps" >

</td>

</tr>
</tbody>
</table>
                                    </div>
                                </div>
    </div>

    <p>&nbsp;</p>