{% extends 'base.html' %}
{% load static %}
{% block content %}

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div id="Subheader">
                <div class="container">
                    <div class="column one">
                        <h1 class="title">Princípios</h1>
                        <!--BreadCrumbs area-->
                        <ul class="breadcrumbs">
                            <li>
                                <a href="{% url 'index' %}">Home</a><span><i - ></i></span>
                            </li>
                            <li>
                                <a href="{% url 'index' %}">Princípios</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
<p>&nbsp;</p>


<!-- Main Content -->
        {% for dados in principio %}
        <div id="Content">
            <div class="content_wrapper clearfix">
                <div class="sections_group">
                    <div class="entry-content">
                        <div class="section" style="padding-top:60px; padding-bottom:30px; background-color:#edeff2">
                            <div class="section_wrapper clearfix">
                                <div class="items_group clearfix">
                                    <!-- One full width row-->
                                    <div class="column one column_fancy_heading">
                                        <div class="fancy_heading fancy_heading_icon">
                                            <h2 class="title">{{dados.titulo}}</h2>
                                            <div class="inside">
                                                <p class="big" style="margin: 0 10%;">
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- One Third (1/3) Column -->

                                    <!-- Page devider -->
                                    <!-- One full width row-->
                                    <div class="column one column_divider">
                                        <hr class="no_line" />
                                    </div>
                                    <!-- One Third (1/3) Column -->

                                </div>
                            </div>
                        </div>
                        <div class="section sections_style_2">
                            <div class="section_wrapper clearfix">
                                <div class="items_group clearfix">
                                    <!-- One full width row-->

                                    <!-- One Fourth (1/4) Column -->
                                    <div class="column one-fourth column_how_it_works">
                                        <div class="how_it_works no_border">
                                            <div class="image"><img src="{{dados.imagem01.url}}" class="scale-with-grid" alt="" width="200" height="200"><span class="number">1</span>
                                            </div>
                                            <div class="desc"></div>
                                        </div>
                                    </div>
                                    <!-- Three Fourth (3/4) Column -->
                                    <div class="column three-fourth column_column">
                                        <div class="column_attr ">
                                            <h4 style="margin-bottom: 3px; color: #8E8E8E;"></h4>
                                            <h2>{{dados.subtitulo01}}</h2>
                                            <p class="big">
                                                {{dados.descricao01|linebreaks}}
                                            </p>

                                        </div>
                                    </div>
                                    <!-- Page devider -->
                                    <!-- One full width row-->
                                    <div class="column one column_divider">
                                        <div class="hr_dots hrmargin_b_30">
                                            <span></span><span></span><span></span>
                                        </div>
                                    </div>
                                    <!-- Three Fourth (3/4) Column -->
                                    <div class="column three-fourth column_column">
                                        <div class="column_attr align_right">
                                            <h4 style="margin-bottom: 3px; color: #8E8E8E;"></h4>
                                            <h2>{{dados.subtitulo02}}</h2>
                                            <p class="big">
                                                {{dados.descricao02|linebreaks}}
                                            </p>

                                        </div>
                                    </div>
                                    <!-- One Fourth (1/4) Column -->
                                    <div class="column one-fourth column_how_it_works">
                                        <div class="how_it_works no_border">
                                            <div class="image"><img src="{{dados.imagem02.url}}" class="scale-with-grid" alt="" width="200" height="200"><span class="number">2</span>
                                            </div>
                                            <div class="desc"></div>
                                        </div>
                                    </div>
                                    <!-- Page devider -->
                                    <!-- One full width row-->
                                    <div class="column one column_divider">
                                        <div class="hr_dots hrmargin_b_30">
                                            <span></span><span></span><span></span>
                                        </div>
                                    </div>
                                    <!-- One Fourth (1/4) Column -->
                                    <div class="column one-fourth column_how_it_works">
                                        <div class="how_it_works no_border">
                                            <div class="image"><img src="{{dados.imagem03.url}}" class="scale-with-grid" alt="" width="200" height="200"><span class="number">3</span>
                                            </div>
                                            <div class="desc"></div>
                                        </div>
                                    </div>
                                    <!-- Three Fourth (3/4) Column -->
                                    <div class="column three-fourth column_column">
                                        <div class="column_attr ">
                                            <h4 style="margin-bottom: 3px; color: #8E8E8E;"></h4>
                                            <h2>{{dados.subtitulo03}}</h2>
                                            <p class="big">
                                                {{dados.descricao03|linebreaks}}
                                            </p>
                                        </div>
                                    </div>
                                    <!-- Page devider -->
                                    <!-- One full width row-->
                                    <div class="column one column_divider">
                                        <hr class="no_line" />
                                    </div>
                                    <!-- One full width row-->

                                </div>
                            </div>
                        </div>

                        <div class="section the_content">
                            <div class="section_wrapper">
                                <div class="the_content_wrapper"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

<!-- Footer-->
{% include 'footer.html' %}
<!-- final Footer-->
{% endblock %}